rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Safety fallback for any unhandled path
    match /{document=**} {
      allow read, write: if false;
    }

    // Rules for User Profiles
    match /livestream_users/{userId} {
      allow read, write: if true;
    }

    // Rules for Coffee and food orders
    match /livestream_orders/{orderId} {
      allow read, write: if true;
    }

    // Rules for Gourmet Menu Catalog
    match /livestream_menu/{menuItemId} {
      allow read, write: if true;
    }
  }
}
